#Details of the GitHub source location
GH_REPO="NBX"
GH_URL="https://github.com/Sudosups/"
GH_BRANCH="master"

#Daemon executable
D_EXEC="Nibbled"
P2P_PORT="17120"
RPC_PORT="17122"

#Add whatever daemon flags you need to supply (--load-checkpoints=<path> --fee-address=<address> --fee-amount=#)
ADD_DAEMON=""

#Address to mine to
MINE_ADDR="Nib1hUe6WRvVFjzTC1AcZgap7DSFvYwtrXjkA1AZsppcU8Pmbe3mqykT4LHV2oAHJp7SH48Sm94JdJtQiPfA5zn28LmWjbbwrV"

#Threads to use when mining
MINE_THREAD="1"

#Additional mining flags, excluding daemon-host, threads, and address, which are already supplied through variables
ADD_MINER=""

#Abbreviated coin name
S_NAME="nbx"

### You don't really need to touch anything below this line ###

#Set this to Yes to have the pre-requisites check to add UFW rules (for a public node)
CONFIG_FIREWALL="No"

#Array containing software build pre-requisites
declare -a pReq=("build-essential" "g++-8" "gcc-8" "git" "libboost-all-dev" "cmake" "curl" "software-properties-common" "jq")

#The miner docker name
M="miner"
DOCK_MINER="$S_NAME$M"

#The docker daemon name
D="daemon"
DOCK_DAEMON="$S_NAME$D"

#Where the scripts are being called from
SCR_PATH="$(dirname "$0")"

#Where the Github source is going to be stored, relative to these scripts
RELA_PATH=".."

#The path we'll save the stripped binaries to, relative to the build path
OUT_DIR="bin"

#Text formatting
T_BOLD=$(tput bold)
T_NORM=$(tput sgr0)